        html,
        body {
            height: 100%;
            margin: 0;
            padding: 0;
            color: #333333;
        }
        
        .fa,
        .fab,
        .fal,
        .far,
        .fas {
            -moz-osx-font-smoothing: grayscale;
            -webkit-font-smoothing: antialiased;
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
        }
        
        .jumbotron {
            padding: 2rem 1rem;
            margin-bottom: 2rem;
            background-image: url("../img/chalkboard.png");
            border-radius: 2rem;
            background-size: cover;
        }
        
        .save-note {
            display: none;
        }
        
        .icons i {
            font-size: 1.5rem;
            cursor: pointer;
            color: rgb(0, 104, 0);
            padding-top: 72%;
        }
        
        .NTB {
            height: 100px;
            margin: 15px;
        }
        
        .mt-4 {
            font-weight: 800;
            color: rgb(0, 104, 0);
            font-size: 2.40625rem;
        }
        
        .display-4 {
            font-size: 3.5rem;
            font-weight: 600;
            line-height: 1.2;
            color: rgb(0, 104, 0);
        }
        
        .text-light {
            color: rgb(0, 104, 0);
            align-content: inherit;
        }
        
        .container-fluid2 {
            width: 100%;
            margin-right: auto;
            margin-left: auto;
        }
        
        .bg-img {
            background-image: url("../img/yellowpaper.png");
        }
        
         ::placeholder {
            color: rgb(0, 104, 0);
            opacity: 1;
            /* Firefox */
        }
        
         :-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: rgb(0, 104, 0);
        }
        
         ::-ms-input-placeholder {
            /* Microsoft Edge */
            color: rgb(0, 104, 0);
        }
        
        .note-textarea,
        .note-title {
            color: #000000;
            width: 100%;
            outline: none;
            border: #222222;
        }
        
        .note-textarea {
            resize: none;
            height: 400px;
            padding-top: 15px;
        }
        
        .note-title {
            height: 50px;
            margin-top: 13px;
            font-size: 3rem;
        }
        
        .note-title:read-only,
        .note-textarea:read-only {
            color: rgb(0, 104, 0);
        }
        
        .list-container .card {
            height: calc(100vh - 70px);
            border-bottom: none;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }
        
        .list-container {
            padding-left: 0;
        }
        
        .list-container .list-group,
        .list-container .list-group-item:first-child,
        .list-container .card {
            border-top: none;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
        
        .list-container i {
            font-size: 1.1rem;
            cursor: pointer;
        }
        
        .list-container .list-group-item {
            border-left: none;
            border-right: none;
            padding: 20px;
            cursor: pointer;
        }
        
        .fa-pen:before {
            content: "\f304";
            color: rgb(0, 104, 0);
        }
        
        .fa-save:before {
            content: "\f0c7";
            color: rgb(0, 104, 0);
        }